---
layout: archive
type: grid
permalink: /news/
title: "In the news"
author_profile: false
redirect_from:
  - /posts/
  - /highlights/
---

{% include base_path %}


<h2 class="archive__subtitle">Interviews and news articles</h2>
<ul class="news-mentions">
  {% for item in site.data.news_mentions %}
  <li class="archive__item">
    <a href="{{ item.url }}" target="_blank">{{ item.title }}</a>.
    <span class="archive__meta"> {{ item.source }}, {{ item.date | date: "%B %d, %Y" }}</span>
  </li>
  {% endfor %}
</ul>

<div>See also our <a href="{{ base_path }}/publications/">publication list</a>.</div>

<!--
  <h1><i class="fa fa-fw fa-cog fa-spin" aria-hidden="true"></i>&nbsp;&nbsp;page under construction</h1>
-->
{% capture written_year %}'None'{% endcapture %}
{% for post in site.news reversed %}
{% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
{% if year != written_year %}
<h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
{% capture written_year %}{{ year }}{% endcapture %}
{% endif %}
{% include archive-single-news.html type="grid" %}
{% endfor %}

<h2>&nbsp;</h2>