---
layout: archive
title: "Talks"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}
<h2>Interviews and Science Outreach</h2>
{% assign filtered_posts = site.talks | where: 'collection', 'talks_outreach' %}
{% for post in filtered_posts reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

<h2>Invited Talks</h2>
{% assign filtered_posts = site.talks | where: 'collection', 'talks_invited' %}
{% for post in filtered_posts reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

<h2>Latest Conference Presentations</h2>
{% assign filtered_posts = site.talks | where: 'collection', 'talks_conference' %}
{% for post in filtered_posts reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
